.row
  .col-md-6.col-md-offset-3
    = @cart.id
    = @cart.status
    = form_for @cart do |f|
      = f.fields_for :items do |builder|
        = render "item", f: builder
      = f.submit "Save changes", class: "btn btn-primary"
    = link_to "Delete", cart_path(@cart), method: "delete",
      data: { confirm: "You sure?" }, class: "btn btn-danger btn-xs"
